@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

@import "tailwindcss";

@font-face {
  font-family: "Anton";
  src: url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
}

body {
  font-family: "Anton";
}
